/* ルート要素の背景色をダーク系に設定 */
.root {
    -fx-background-color: #2B2B2B;
}

/* ラベルの文字色を白に設定 */
.label {
    -fx-text-fill: white;
}

/* h1スタイルの文字サイズを調整 */
.h1 {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

/* ボタンのフォントを設定 */
.button {
    -fx-font-size: 24px;
    -fx-font-family: "MS UI Gothic";
}
